In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2


from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Employees')
conn = engine.connect()

%matplotlib inline

NameError: name 'username' is not defined

In [10]:
# Import Titles Table

titles = pd.read_sql('SELECT * FROM titles', conn)
titles.head()

NameError: name 'conn' is not defined

In [ ]:
# Import EMPLOYEES Table

emp = pd.read_sql('SELECT * FROM employees', conn)
emp.head()

In [ ]:
# Import Departments Table

dept = pd.read_sql('SELECT * FROM departments', conn)
dept.head()

In [ ]:
# Import Dept_Manager Table

dm = pd.read_sql('SELECT * FROM dept_manager', conn)
dm.head()

In [ ]:
# Import Dept_emp Table

de = pd.read_sql('SELECT * FROM dept_emp', conn)
de.head()

In [ ]:
# Import Salaries Table

salaries = pd.read_sql('SELECT * FROM salaries', conn)
salaries.head()

# Average Salary by Title

In [ ]:
emp_salary = emp.merge(salaries, on='emp_no')
emp_salary.head()

In [ ]:
merge_tables = emp_salary.merge(titles, left_on='emp_title_id', right_on='title_id')
merge_tables.head()

In [ ]:
title_salaries = merge_tables[['title', 'salary']]
title_salaries.head()

In [ ]:
title_salaries.groupby('title')['salary'].mean()

In [ ]:
connection.close()